<!-- footer -->
<footer class="footer">
    <div class="container">
        <ul class="footer-content">
            <li class="footer-item">
                <a class="footer-link" href="#">Facebook</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#">Instagram</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#">Email</a>
            </li>
            <li class="footer-item">
                <a class="footer-link" href="#">Whatsapp</a>
            </li>
        </ul>
    </div>
</footer>