<!-- sidebar -->
<div class="sidebar-offcanvas" id="sidebar" roll="navigation">
    <div id="profile">
        <div>
            <img class="rounded-circle" src="img/profile-pic.jpg">
        </div>
        <div>
            <h6>PANDA FACE</h6>
        </div>
    </div>

    <div class="list-group" id="outline">
        <a class="list-group-item" href=""><h4>SELECT PROGRAM</h4></a>
        <a class="list-group-item" href=""><h4>MY SCHEDULE</h4></a>
        <a class="list-group-item" href=""><h4>HISTORY</h4></a>
        <a class="list-group-item" href=""><h4>LOG OUT</h4></a>
    </div>
</div>