<!-- sidebar -->
<div class="sidebar-offcanvas" id="sidebar" roll="navigation">
    <div class="list-group" id="outline">
        <a class="list-group-item list-group-item-action list-H1" href="">Personal Record</a>
        <a class="list-group-item list-group-item-action list-H2" href="">My program</a>
        <a class="list-group-item list-group-item-action list-H2" href="">My schedule</a>
        <a class="list-group-item list-group-item-action list-H2" href="">Log out</a>
    </div>
</div>