<section id="splash">
    <div class="splash-overlay"></div>

    <!-- main area -->
    <div class="main">
        <section>
            <div class="main-top">
                <div id="today">
                    <div class="today-overlay"></div>
                    <h1>Today</h1>
                </div>
            </div>
            <div class="main-bottom">
                <div class="main-bottom-left">
                    <div id="yesterday">
                        <div class="yesterday-overlay"></div>
                        <h1>Yesterday</h1>
                    </div>
                </div>
                <div class="main-bottom-right">
                    <div id="tomorrow">
                        <div class="tomorrow-overlay"></div>
                        <h1>Tomorrow</h1>
                    </div>
                </div>
            </div>
            <!-- <button>GET STARTED</button> -->
        </section>
    </div>
</section>