<section id="home-splash">
    <div class="home-splash-overlay"></div>

    <!-- main area -->
    <div class="main">
        <section>
            <div class="main-top row">
                <div id="today">
                    <div class="today-overlay"></div>
                    <div class="row">
                        <h1>TODAY</h1>
                    </div>
                    <div class="row">
                        <span></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-xs-12">
                            <h6>PROGRAM TYPE</h6>
                            <img src="">
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <h6>TARGET CALORIES</h6>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                            <h6>DURATION</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-bottom row">
                <div class="main-bottom-left col-md-6 col-xs-12">
                    <div id="tomorrow">
                        <div class="tomorrow-overlay"></div>
                        <div class="row">
                            <h1>TOMORROW</h1>
                        </div>
                        <div class="row">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="main-bottom-right col-md-6 col-xs-12">
                    <div id="the-next-day">
                        <div class="the-next-day-overlay"></div>
                        <div class="row">
                            <h1>THE NEXT DAY</h1>
                        </div>
                        <div class="row">
                            <span></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-12">
                                <h6>PROGRAM TYPE</h6>
                                <img src="">
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <h6>DURATION</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <button>GET STARTED</button> -->
        </section>
    </div>
</section>